@charset "UTF-8";

i.fa:before, i.fa:after{
	font-family: 'FontAwesome';
}
#container {margin-top: 15px;}
#container p {margin-bottom: 20px;}
#container .journal-custom-tab p{margin-bottom: 0;}
select{background: #FFF;}
.product-wrapper{margin-right: 10px;}
.post-wrapper{margin-right: 10px;}
.custom-sections .box-heading{background-color: rgb(54, 156, 168);}

/******************************
 Cart & Search color
*******************************/
.button-search{background-color: rgb(253, 134, 6) !important; border-color: rgb(255, 195, 52) !important;}
#cart .heading i{background-color: rgb(253, 134, 6) !important; color:white;}
.journal-header-center #search input{border-color: rgb(253, 134, 6) !important;}
.journal-header-center #cart{border-color: rgb(253, 134, 6) !important;}

.super-menu > li > a i{vertical-align: top; }
.super-menu > li.float-left > a i{margin-right: 10px !important;}
.super-menu > li.float-left > a i:before{font-family: 'FontAwesome';}
.super-menu > li.main-menu-item-1 > a i:before{content: "\f015";}
.super-menu > li.main-menu-item-2 > a i:before{content: "\f1b3";}
.super-menu > li.main-menu-item-3 > a i:before{content: "\f129";}
.super-menu > li.main-menu-item-4 > a i:before{content: "\f128";}
.super-menu > li.main-menu-item-5 > a i:before{content: "\f0d1";}
.super-menu > li.main-menu-item-6 > a i:before{content: "\f21b";}
.super-menu > li.main-menu-item-7 > a i:before{content: "\f0f6";}

.mega-menu table{border: 0px; width: 100%;}
.mega-menu table tr,
.mega-menu table td{padding: 0 5px 5px; border: 0px;}
.mega-menu table td img{max-width: 100%; }
.mega-menu .mega-menu-item h3{background: none; color: #333333; font-weight: 400; text-transform: inherit; font-size: 12px;}
.mega-menu-categories .mega-menu-item{height: auto !important; margin-bottom: 0 !important;}
.mega-menu-categories .mega-menu-item.menu-no-image ul{padding: 0 0 0 20px; }
.mega-menu-categories .mega-menu-item ul li a{font-size: 14px !important;}
.journal-menu a{font-weight:bold;font-size:18px;}

/*seasonal background*/
/*.home-page .extended-container{background: url('../../../../../image/templates/landing_banner/body.jpg') top center no-repeat; background-size: 100%; }
.journal-header-center .journal-center-bg{background: url('../../../../../image/templates/landing_banner/top.jpg') top center no-repeat; background-size: 100%; background-color: #d10909 !important;}*/

.home-page .box.side-category .box-heading{background-color: rgb(253, 134, 6); color: #FFF;}
.home-page .side-column .box.side-category{background-color: transparent;}
.home-page .box.side-products:first-child .box-heading{background-color: rgb(0, 153, 153); color: #FFF;}
.home-page .side-column .box.side-products:first-child{background-color: transparent;}
.home-page .side-column div.cms-blocks:first-child .box-heading{background-color: transparent; color: #FFF;}

.box-category li a{background-color: rgba(255, 255, 255, 0.7) !important;}
.box-category li a:hover{background-color: rgba(255, 255, 255, 1.0) !important;}

.side-column .box.cms-blocks .block-content{border-bottom: 1px solid #eee; }
.side-column .box.cms-blocks .cms-block:last-child .block-content{border-bottom: 0;}
.side-column .box-category li a:before, .side-column .box-content li a:before{top: 1px !important;}

.journal-carousel.carousel-brand .owl-buttons.side-buttons div{margin-top: -30px !important;}
.carousel-brand .product-wrapper{border: 0;}
.headline-mode .rotator-text{padding-bottom: 0;}

.post-module .owl-item .post-wrapper{border-color: transparent;}
.post-module .post-item-details .comment-date{border: 0px; padding: 0px; margin: 10px 0;}
.post-module .posts h2{padding: 0; margin: 0;}
.post-module .post-view-more.button{border: 0; padding: 0;}

.register-content > div.left{width: 60%;position: relative;padding: 15px;min-height: 345px; float: left; background-color: rgb(250, 250, 250);}
.register-content > div.right{width: 38%;position: relative;padding: 15px;min-height: 345px; float: right; background-color: rgb(250, 250, 250);}
.login-content > div.left{width: 60%;}
.login-content > div.right{width: 38%;}

.a_hybridauth{margin-bottom: 20px; display: inline-block; max-width: 100%;}
.a_hybridauth img{max-width: 100%;}
.login-content .right a.a_hybridauth{top: 0;}

footer{margin-top: 40px;}

/*Product category page*/
.journal-sf .sf-manufacturer.sf-image .box-content ul li{width: 33% !important;}
.journal-sf .sf-image .box-content ul label img{border: 0 !important;}
.social{background-position: 90% center;}
.social-loaded{float: right;}
.product-page #tabs a, .product-page #tabs li a{font-size: 12px !important; font-weight: 400 !important;}
.product-page #tabs a.null-tab{background: #ccc; cursor: default;}

.product-info .right .price-old{background: transparent !important; }
.product-sold-count-text{font-size: inherit !important;}
.product-info .right .description .product-views-count{margin-right: 40%;}
.product-info .right .options .option{margin-top: 10px;}
.product-info .option ul{margin-top: 5px;}
.product-info .option > ul > li{background: transparent !important; color: #000 !important; font-weight: 400 !important; padding: 0; margin: 0 15px 0 0;}
.product-info .option > ul > li.selected, 
.product-info .option > ul > li:hover{background: transparent !important; color: #90b220 !important; box-shadow: none !important;}
.product-info .right .wishlist-compare .col-compare .links a:before{content: '\e025';}
#tab-videos > a{margin-right: 10px; margin-bottom: 10px;}
.product-info .right .options.push-select .option-image li span img, 
.product-info .right .options.push-image .option-image li span img, 
.product-info .right .options.push-checkbox .option-image li span img, 
.product-info .right .options.push-radio .option-image li span img{
	width: 30px; 
	border-width: 0px;
	border-color: #000;
}
.product-info .right .options.push-select .option-image li.selected span img, 
.product-info .right .options.push-image .option-image li.selected span img, 
.product-info .right .options.push-checkbox .option-image li.selected span img, 
.product-info .right .options.push-radio .option-image li.selected span img{	
	border-width: 2px;
	border-color: #333;
}
.product-info .option.option-image > ul > li{
	margin-right: 10px;
}

.product-info .left .image a img{
    float: none;
    display: block;
}


.product-info .right .cart div .qty{width: 20%; margin-top: 5px;}
.product-info .right .cart div .button{width: 100%; min-height: 50px; line-height: 50px; font-size: 14px !important; font-weight: 400 !important; text-transform: uppercase; float: left;}
.product-info .right .cart .div-buttons{margin-top: 20px;}
.product-info .right .wishlist-compare{margin: 0 10px;}
.product-info .right #div_merchant_detail_container{margin: 0 10px;}

h3.h3_merchant_label{text-transform: uppercase; font-size: 22px; margin-top: 10px; margin-bottom: 20px;}
.product_vendor_data{}
.product_vendor_data .a_vendor_name{font-family: 'Open Sans'; font-weight: bold; font-size: 22px; color: #666666;}
.product_vendor_data .div_vendor_img_container{width: 45%; float: left; padding-right: 5%;}
.product_vendor_data .div_vendor_detail_container{width: 50%; float: left;}
.product_vendor_data .div_vendor_img_container img{max-width: 100%;}

/*Product voucher iframe*/
.voucher-page{}
.voucher-page #cboxTopCenter{background: none;}
.voucher-page #cboxTopLeft{background: none;}
.voucher-page #cboxTopRight{background: none;}
.voucher-page #cboxMiddleLeft{background: none;}
.voucher-page #cboxMiddleRight{background: none;}
.voucher-page #cboxBottomCenter{background: none;}
.voucher-page #cboxBottomLeft{background: none;}
.voucher-page #cboxBottomRight{background: none;}
.voucher-page #cboxClose{display: none;}
.voucher-page #cboxContent{}

.iframe-voucher-page h2.voucher_title{font-family: 'Open Sans'; font-size: 32px; color: #90b120; font-weight: bold; margin-top: 15px;}
.iframe-voucher-page p.voucher_print_date{margin-bottom: 40px; }
.iframe-voucher-page .product-info > div{width: 40%;}
.iframe-voucher-page .product-info .right{width: 60%;}
.iframe-voucher-page .product-info .right .product_vendor_data{border-top: 1px solid #999; margin-top: 30px; padding-top: 30px; }
.iframe-voucher-page .voucher_header{padding: 15px 0; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; }
.iframe-voucher-page .voucher_header .left{width: 50%; float: left;}
.iframe-voucher-page .voucher_header .right{width: 50%; float: right;}
.iframe-voucher-page #container .voucher_header p{margin-bottom: 0px; font-size: 18px;}
.iframe-voucher-page .voucher_body{margin-top: 30px;}
.iframe-voucher-page #container .voucher_body .fp_title{font-size: 16px; font-weight: bold; margin-bottom: 10px;}
.iframe-voucher-page .voucher_page_logo{margin-bottom: 20px;}
.iframe-voucher-page .voucher_page_logo img{max-width: 70%;}

.login-content .login-wrap input{margin-bottom: 15px; margin-top: 5px;}

.route-account-account{}
.route-account-account h1.welcome_text{color: #9e9e9e; font-size: 36px; font-family: "PT Sans";}
#customer_profile{padding-left: 10px;}
#customer_profile .p_profile{margin-top: 20px;}

.route-account-account.extended-layout #column-right,
.route-account-edit.extended-layout #column-right,
.route-account-password.extended-layout #column-right,
.route-account-address.extended-layout #column-right,
.route-account-wishlist.extended-layout #column-right,
.route-account-order.extended-layout #column-right,
.route-account-return.extended-layout #column-right,
.route-account-transaction.extended-layout #column-right,
.route-account-newsletter.extended-layout #column-right{float: left; }

.route-account-account.extended-layout #column-right + #content,
.route-account-edit.extended-layout #column-right + #content,
.route-account-password.extended-layout #column-right + #content,
.route-account-address.extended-layout #column-right + #content,
.route-account-wishlist.extended-layout #column-right + #content,
.route-account-order.extended-layout #column-right + #content,
.route-account-return.extended-layout #column-right + #content,
.route-account-transaction.extended-layout #column-right + #content,
.route-account-newsletter.extended-layout #column-right + #content{margin-left: 240px; margin-right: 0;}


/*vendor*/
.div_vendor_banner{margin: 0 0 10px;}
.div_vendor_banner img{max-width: 100%;}
.div_vendor_info{margin: 0 0 20px; height: 80px; overflow: hidden;}
.div_vendor_info .div_info{text-align: right;}
.div_vendor_info .div_vendor_name{}
.div_vendor_info .div_vendor_name h1{font-size: 40px; vertical-align: middle;}
.div_vendor_info_gallery{margin: 0 0 20px; min-height: 80px;}

.div_vendor_info_gallery .div_gallery{}
.div_vendor_info_gallery .div_gallery ul{list-style: none; padding: 0; margin: 0;}
.div_vendor_info_gallery .div_gallery ul li{display: inline-block;}

/*Dropdown*/
.scrollable-container{
	overflow: auto;
	height: 0;
}
.expand .scrollable-container{
	height: auto;
	max-height: 150px;
}
.box-multi-dropdown a {
    color:#000;
}
.box-multi-dropdown .dropdown dd, .box-multi-dropdown .dropdown dt {
    margin:0px;
    padding:0px;
}
.box-multi-dropdown .dropdown ul {
    margin: -1px 0 0 0;
}
.box-multi-dropdown .dropdown dd {
    position:relative;
}
.box-multi-dropdown .dropdown a, 
.box-multi-dropdown .dropdown a:visited {    
    text-decoration:none;
    outline:none;
    font-size: 12px;
	color: #000;
	position: relative;
}
.box-multi-dropdown .dropdown a i{position: absolute; right: 10px; top: 8px; font-size: 16px;}
.box-multi-dropdown .dropdown dt a {	
	width: 90%; 
	margin: 10px auto 0;
	background-color: #dedede;
    display:block;
    padding: 5px 10px 3px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border:0;
    /*width:272px;*/
}
#container .box-multi-dropdown .multiSel{
	margin-bottom: 0;
}
.box-multi-dropdown .dropdown dt a span, .box-multi-dropdown .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
}
.box-multi-dropdown .dropdown dd ul {
    background-color: #dedede;
    color:#fff;
    display:none;
    left:0px;
    padding: 2px 15px 3px 5px;	        
	margin-left: 5%;
    width:90%;
    list-style:none;
    overflow: auto;
}
.box-multi-dropdown .dropdown span.value {
    display:none;
}
.box-multi-dropdown .dropdown dd ul li{
	border-bottom-width: 1px;
	padding-left: 0px;
}
.box-multi-dropdown .dropdown dd ul li:last-child{
	border-bottom: 0;
}
.box-multi-dropdown .dropdown dd ul li a {
    padding:5px;
    display:block;
}
.box-multi-dropdown .dropdown dd ul li a:hover {
    background-color:#fff;
}
.box-multi-dropdown .dropdown dd ul li .sf-name{
	font-size: 11px;
	line-height: 12px;
	float: left; 
	width: 80%;
}
.box-multi-dropdown button {
  background-color: #6BBE92;
  /*width: 302px;*/
  width: 100%;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.box-multi-dropdown .dropdown dd ul li input[type=checkbox]{
	vertical-align: middle;
	float: left; 
	width: 10%;
}
.nicescroll-rails{z-index:101;}

.product-grid-item .price{margin-bottom: 5px;}
.product-grid-item .vendor{padding-bottom: 5px; margin-bottom: 10px; display: inline-block; border-bottom: 1px solid #e4e4e4;}
.product-grid-item .vendor a{color: #333; text-transform: uppercase; font-weight: bold;}

.product-list-item .vendor a{color: #333; text-transform: uppercase; font-weight: bold;}

.quickview #button-cart{width: 65%; }
.quickview #button-voucher{width: 30%; float: left; margin-left: 3px;}

#cs-sm-0{}
#cs-sm-0 .product-details{display: none; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; padding: 10px; background: #eee;  position: absolute; top: 100px;}
#cs-sm-0 .product-wrapper:hover .product-details{display: block; opacity: 1; z-index: 10;}
#cs-sm-0 .product-details:before{color: #eee; }
#cs-sm-0 .product-details .name{font-weight: bold; text-decoration: underline;}
#cs-sm-0 .product-details span{font-weight: bold; font-size: 13px;}

.page-all-merchants{}
.page-all-merchants .product-grid{margin-right: 0;}
.page-all-merchants .div-categories{margin: 20px 0;}
.page-all-merchants .div-categories a{margin-right: 15px;}
.page-all-merchants .div-categories a.active{color: #333; font-weight: bold;}
.page-all-merchants .div-merchant{}
.page-all-merchants .div-merchant .image{width: 30%; float: left}
.page-all-merchants .div-merchant .description{width: 70%; float: left; min-height: 110px;  margin-bottom: 20px;}
.page-all-merchants .div-merchant .description .name{text-decoration: underline; font-size: 16px;}
.page-all-merchants .div-merchant .description span{font-weight: bold;}



/*==========PLANS AND PRICING==============*/

/* Animation */

.PlanPricing {
	margin-top:100px;
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	
	text-align: center;
}
.PlanPricing.preset,
.PlanPricing:hover {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
	z-index:2;
	-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}
.PlanPricing .planName {
	padding-top:50px;
	padding-bottom:10px;
	text-align:center;
}
.PlanPricing .price {
	background:#2cc76a;
	padding:5px;
	color:#FFF;
	font-size:50px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	display:block;
	width:100px;
	height:100px;
	line-height:100px;
	margin:0 auto;
	position:relative;
	margin-top:-107px;
	margin-bottom:10px;
}
.PlanPricing.Recommended .price {
	background:#f45c57;
}
.PlanPricing .planName h3 {
	color:#FFF;
	text-align:center;
	padding:0;
	margin:0;
	text-transform:uppercase;
}
.PlanPricing .planName p {
	color:#999;
	text-align:center;
}
.PlanPricing .planFeatures {
	text-align:center;
	padding:10px;
	min-height: 370px;
}
.PlanPricing .planFeatures ul {
	margin:0;
	padding:0;
	list-style:none;
}
.PlanPricing .planFeatures ul li {
	padding: 5px 0 0 ;
	list-style-type: disc;
}
.PlanPricing .planFeatures ul li span{
	font-weight: bold;
}

.PlanPricing p {
	margin:0;
}
.PlanPricing .btn {
	width:100%;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


/*========= Price CSS==============*/
.template4{
	overflow:hidden;
	font: 'Open Sans';
	font-size:13px;
	font-weight:300;
	position:relative;
	border-top:5px solid #1B253B;
	transition: all 0.3s linear 0s;
	background:#fff;
}

.template4:hover,
.template4.preset{
	border-top:0px solid #1B253B;
	transition: all .5s linear 0s;
}

.template4.preset > p a,
.template4:hover > p a{
	width:100% !important;
	
}

.template4.preset > div span.price,
.template4:hover > div span.price{
	top:50px; !important;
	transition: all .5s linear 0s;
}

.PlanPricing.template4{
	margin-right: 2.4%;
}

.PlanPricing.template4:first-child{
	margin-left: 0;
}
.PlanPricing.template4:last-child{
	margin-right: 0;
}

.PlanPricing.template4 .planName h3 {
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}


.PlanPricing.template4 .price {
     background: none repeat scroll 0 0 #2CC76A;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    margin: -50px auto 10px;
    padding: 5px;
    position: relative;
    width: 100%;
}

.PlanPricing.template4 .btn {
    border-radius: 0;
    box-sizing: border-box;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
    margin: 0 auto;
    width: 60%;
	color:#fff;
	font-size:15px;
	padding:20px 30px;
	background: #1B253B; /* Old browsers */
	 -webkit-transition: all 0.31s ease-in-out;
	-moz-transition: all 0.31s ease-in-out;
	-o-transition: all 0.31s ease-in-out;
	transition: all 0.31s ease-in-out;
}

.PlanPricing.template4 .btn:hover {
   background: #1B253B !important; /* Old browsers */
	 -webkit-transition: all 0.31s ease-in-out;
	-moz-transition: all 0.31s ease-in-out;
	-o-transition: all 0.31s ease-in-out;
	transition: all 0.31s ease-in-out;
}


.span3.PlanPricing.template4 > p {
    text-align: center;
}


.PlanPricing.template4 .price {
    background: none repeat scroll 0 0 #1B253B;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 25px;
    height: 40px;
    line-height: 25px;
    padding: 5px;
    position: absolute;
	left:0;
	top:-150px;
    width: 100%;
    transition: all .5s linear 0s;
}

.template4 .planFeatures {
    color: #333333;
}








/*MISC*/
.col-md-6{width:100%;}
.col-md-6 a:hover{color:rgb(68, 67, 73) !important;}
.p-15{padding: 15px;}
.pt-15{padding-top: 15px;}
.pb-15{padding-bottom: 15px;}
.pl-15{padding-left: 15px;}
.pr-15{padding-right: 15px;}

.p-30{padding: 30px;}
.pt-30{padding-top: 30px;}
.pb-30{padding-bottom: 30px;}
.pl-30{padding-left: 30px;}
.pr-30{padding-right: 30px;}


.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}


@media only screen and (max-width: 760px)
{
	.route-account-account.extended-layout #column-right,
	.route-account-edit.extended-layout #column-right,
	.route-account-password.extended-layout #column-right,
	.route-account-address.extended-layout #column-right,
	.route-account-wishlist.extended-layout #column-right,
	.route-account-order.extended-layout #column-right,
	.route-account-return.extended-layout #column-right,
	.route-account-transaction.extended-layout #column-right,
	.route-account-newsletter.extended-layout #column-right{float: left; }

	.route-account-account.extended-layout #column-right + #content,
	.route-account-edit.extended-layout #column-right + #content,
	.route-account-password.extended-layout #column-right + #content,
	.route-account-address.extended-layout #column-right + #content,
	.route-account-wishlist.extended-layout #column-right + #content,
	.route-account-order.extended-layout #column-right + #content,
	.route-account-return.extended-layout #column-right + #content,
	.route-account-transaction.extended-layout #column-right + #content,
	.route-account-newsletter.extended-layout #column-right + #content{margin-left: 0; margin-right: 0;}
}
