@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

@media (min-width: 768px) {
  .img-responsive-sm {
    display: block;
    height: auto;
    max-width: 100%; } }

@media (max-width: 767px) {
  .no-mg-t-xs {
    margin-top: 0 !important; } }

.no-mg-t {
  margin-top: 0 !important; }

.no-mg-b {
  margin-bottom: 0 !important; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

#stats-chart1, #stats-chart2, #stats-chart3, #stats-chart7, #stats-chart8 {
  height: 200px; }

.color-settings .color-title {
  font-weight: bold;
  padding-left: 10px; }

.wysihtml5-sandbox {
  box-sizing: border-box; }
  
.recent-activity .li_label{font-weight: bold;}
.recent-activity .div_order_id{width: 25px; margin-right: 10px;}
.recent-activity .div_customer_name{width: 110px; margin-right: 10px;}
.recent-activity .div_status{width: 75px; margin-right: 10px;}
.recent-activity .div_total{width: 95px; margin-right: 10px;}

.ui-autocomplete{background-color: #ddd;}
.scrollbox {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    height: 100px;
    overflow-y: scroll;
    width: 100%;
	padding: 5px 10px;
}
#option-add{display: block; padding: 10px 15px;}

table span.help{display: block; font-size: 11px;}


#divMainCategory .slider-content .title,
#divSubCategory .slider-content .title{background: transparent;}

#divMainCategory ul.list-unstyled li a.active,
#divSubCategory ul.list-unstyled li a.active{background: #333; color: #FFF;}

.cke_reset_all *,
.cke_reset_all *::before,
.cke_reset_all *::after{box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;}

.pagination {
    border-top: 1px solid #DDDDDD;
    display: inline-block;
    width: 100%;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
.pagination .links {
    float: left;
    padding-top: 6px;
}
.pagination .links a {
    border: 1px solid #DDDDDD;
    padding: 4px 10px;
    font-size: 12px;
    text-decoration: none;
    color: #A3A3A3;
}
.pagination .links b {
    border: 1px solid #269BC6;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #269BC6;
    background: #FFFFFF;
}
.pagination .results {
    float: right;
    padding-top: 6px;
    font-size: 12px;
}

.data-table .asc {
    padding-right: 15px;
    background: url('../images/asc.png') right center no-repeat;
}
.data-table .desc {
    padding-right: 15px;
    background: url('../images/desc.png') right center no-repeat;
}

.sf-table tbody{
    font-size: 12px;
}

.titlebox {
    color:red;
    margin:5px;
    background-color: #fef9d1;
    cursor: default;
    letter-spacing: -1px;
    box-shadow: 0 0 0;
    border-radius: 0;
    padding: 2px 11px 4px 11px;
    border: 1px solid #f5d388;
}