<div class="left">
  <?php if ($this->config->get('serbapay_auth_status')) { ?>
  <?php foreach ($this->config->get('serbapay_auth') as $config) { ?>
  <a onclick="window.open('<?php echo HTTPS_SERVER . 'index.php?route=serbapay/auth&source=product-review&provider=' . $config['provider']; ?>&redirect=<?php echo base64_encode($this->url->link('serbapay/auth/success')); ?>', 'newwindow', 'width=700, height=450,top=200, left=600'); return false;" href="<?php echo HTTPS_SERVER . 'index.php?route=serbapay/auth&provider=' . $config['provider']; ?>&redirect=<?php echo base64_encode($this->url->link('serbapay/auth/success')); ?>">
    <img src="image/templates/serbapay_login.png" style="width: 300px;"/>
  </a>
  <?php } ?>
  <?php } ?>
</div>