<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/shipping.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><?php echo $button_cancel; ?></a></div>
    </div>
    <div class="content">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <table class="form">
		  <tr>
            <td><?php echo $entry_module_name; ?></td>
            <td><input type="text" name="mvd_usr_pv_checkout_name" value="<?php echo isset($mvd_usr_pv_checkout_name) ? $mvd_usr_pv_checkout_name : $text_checkout_name; ?>" placeholder="<?php echo $entry_module_name; ?>" /></td>
          </tr>
          <tr>
            <td><?php echo $entry_measurement; ?></td>
            <td><select name="mvd_usr_pv_measurement">
            <?php if (($mvd_usr_pv_measurement==1) || (empty($mvd_usr_pv_measurement)) ) { ?>
            <option value="1" selected="selected"><?php echo $text_nws_text; ?></option>
            <option value="2"><?php echo $text_wbsp_text; ?></option>
			<option value="3"><?php echo $text_tapv_text; ?></option>
            <?php } ?>
			<?php if ($mvd_usr_pv_measurement==2) { ?>
            <option value="1"><?php echo $text_nws_text; ?></option>
            <option value="2" selected="selected"><?php echo $text_wbsp_text; ?></option>
			<option value="3"><?php echo $text_tapv_text; ?></option>
            <?php } ?>
			<?php if ($mvd_usr_pv_measurement==3) { ?>
            <option value="1"><?php echo $text_nws_text; ?></option>
			<option value="2"><?php echo $text_wbsp_text; ?></option>
            <option value="3" selected="selected"><?php echo $text_tapv_text; ?></option>
            <?php } ?>
          </select>
			</td>
          </tr>
		  <tr>
            <td><?php echo $entry_display_mode; ?></td>
            <td><select name="mvd_usr_pv_display">
            <?php if ($mvd_usr_pv_display) { ?>
            <option value="1" selected="selected"><?php echo $text_input_text; ?></option>
            <option value="0"><?php echo $text_combo_text; ?></option>
            <?php } else { ?>
            <option value="1"><?php echo $text_input_text; ?></option>
            <option value="0" selected="selected"><?php echo $text_combo_text; ?></option>
            <?php } ?>
          </select></td>
          </tr>
          <tr>
            <td><?php echo $entry_tax_class; ?></td>
            <td><select name="mvd_usr_pv_tax_class_id">
              <option value="0"><?php echo $text_none; ?></option>
              <?php foreach ($tax_classes as $tax_class) { ?>
              <?php if ($tax_class['tax_class_id'] == $mvd_usr_pv_tax_class_id) { ?>
              <option value="<?php echo $tax_class['tax_class_id']; ?>" selected="selected"><?php echo $tax_class['title']; ?></option>
              <?php } else { ?>
              <option value="<?php echo $tax_class['tax_class_id']; ?>"><?php echo $tax_class['title']; ?></option>
              <?php } ?>
              <?php } ?>
            </select></td>
          </tr>
		  
          <tr>
            <td><?php echo $entry_status; ?></td>
            <td><select name="mvd_usr_pv_status">
            <?php if ($mvd_usr_pv_status) { ?>
            <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
            <option value="0"><?php echo $text_disabled; ?></option>
            <?php } else { ?>
            <option value="1"><?php echo $text_enabled; ?></option>
            <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
            <?php } ?>
          </select></td>
          </tr>
          <tr>
            <td><?php echo $entry_sort_order; ?></td>
            <td><input type="text" name="mvd_usr_pv_sort_order" value="<?php echo $mvd_usr_pv_sort_order; ?>" placeholder="<?php echo $entry_sort_order; ?>" /></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<?php echo $footer; ?> 