<?php echo $header; ?>
<div id="content-wrapper" class="row">
	<div class="col-xs-12">
		
		<div class='row'>
			<div class='col-sm-12'>
				<div class='page-header  page-header-with-buttons'>
					<h1 class='pull-left'>
					  <i class='icon-bar-chart'></i>
					  <span>Statistik Produk Dibeli</span>
					</h1>
					
					<div class='pull-right'>
						<div class='btn-group'>					
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--Start form-->
		<div class='row'>
			<div class='col-sm-12'>
				<div class='box bordered-box green-border' style='margin-bottom:0;'>
                    <div class='box-header blue-background '>
						<div class='title'>Produk yang Dibeli</div>
						<div class='actions'> 
					  
						</div>
                    </div>
					
                    <div class='box-content'>
						<div class="responsive-table">
							<table class="form table" >
							<tr>
								<td style="width: 300px">
									Tanggal Mulai								
									<div class='datepicker input-group' >
										<input class='form-control' id="date-start" data-format='yyyy-MM-dd' placeholder='Tanggal Mulai' type='text' name="filter_date_start" value="<?php echo (isset($filter_date_start) ? $filter_date_start : ''); ?>" />
										<span class='input-group-addon'>
											<span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
										</span>
									</div>
								</td>
								<td style="width: 300px">
									Tanggal Selesai
									<div class='datepicker input-group' >
										<input class='form-control' id="date-end" data-format='yyyy-MM-dd' placeholder='Tanggal Selesai' type='text' name="filter_date_end" value="<?php echo (isset($filter_date_end) ? $filter_date_end : ''); ?>" />
										<span class='input-group-addon'>
											<span data-date-icon='icon-calendar' data-time-icon='icon-time'></span>
										</span>
									</div>
								</td>
								<td>
									Status Pesanan
									<select class="form-control" name="filter_order_status_id">
									  <option value="0"><?php echo $text_all_status; ?></option>
									  <?php foreach ($order_statuses as $order_status) { ?>
									  <?php if ($order_status['order_status_id'] == $filter_order_status_id) { ?>
									  <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
									  <?php } else { ?>
									  <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
									  <?php } ?>
									  <?php } ?>
									</select>
								</td>
							  <td style="text-align: right;">
								<br>
								<a onclick="filter();" class="btn btn-warning btn-sm"><?php echo $button_filter; ?></a>
							</td>
							</tr>
							</table>
						</div>
						
						<div class="responsive-table">
							<table class="list table">
							<thead>
							  <tr>
								<th class="left">Nama Produk</th>
								<th class="left"><?php echo $column_model; ?></th>
								<th class="right">Jumlah</th>
								<th class="right"><?php echo $column_total; ?></th>
							  </tr>
							</thead>
							<tbody>
							  <?php if ($products) { ?>
							  <?php foreach ($products as $product) { ?>
							  <tr>
								<td class="left"><?php echo $product['name']; ?></td>
								<td class="left"><?php echo $product['model']; ?></td>
								<td class="right"><?php echo $product['quantity']; ?></td>
								<td class="right"><?php echo $product['total']; ?></td>
							  </tr>
							  <?php } ?>
							  <?php } else { ?>
							  <tr>
								<td class="center" colspan="4">Tidak Ada Hasil</td>
							  </tr>
							  <?php } ?>
							</tbody>
						  </table>
						  <div class="pagination"><?php echo $pagination; ?></div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>	
</div>

<script type="text/javascript"><!--
function filter() {
	url = 'index.php?route=report/pro2ven_purchased&token=<?php echo $token; ?>';
	
	var filter_date_start = $('input[name=\'filter_date_start\']').attr('value');
	
	if (filter_date_start) {
		url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
	}

	var filter_date_end = $('input[name=\'filter_date_end\']').attr('value');
	
	if (filter_date_end) {
		url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
	}
	
	var filter_order_status_id = $('select[name=\'filter_order_status_id\']').attr('value');
	
	if (filter_order_status_id != 0) {
		url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
	}	

	location = url;
}
//--></script> 
<script type="text/javascript"><!--
$(document).ready(function() {
	$('#date-start').datepicker({dateFormat: 'yy-mm-dd'});
	
	$('#date-end').datepicker({dateFormat: 'yy-mm-dd'});
});
//--></script> 
<?php echo $footer; ?>