<?php echo $header; ?>
<div class='middle-container'>
		
      <div class='middle-row' style="background:url(view/yobiclick/images/store_logo.png) no-repeat; background-size: 200px 56px;">
        <div class='middle-wrapper'>
          <div class='login-container-header'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                    <h1 class='text-center title'>My Shop</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <?php /*<h1 class='text-center title'>Sign in</h1> */ ?>
                    <?php if ($success) { ?>
                        <div class="success"><?php echo $success; ?></div>
                    <?php } ?>
                    <?php if ($error_warning) { ?>
                        <div class="alert alert-warning alert-dismissable"><?php echo $error_warning; ?></div>
                    <?php } ?>

                  <div class='text-center'>
                     <!-- <a onclick="window.open(<?php /*echo $serbapay_login_link */?>, 'newwindow', 'width=700, height=450,top=200, left=600'); return false;" href="<?php /*echo $serbapay_login_link */?>">
                          <img src="serbapay_login.png" style="width: 300px;">
                      </a>-->
                      <iframe width="100%" height="300px;" src="<?php echo $serbapay_login_link ?>" style="border:none"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container-footer'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                  <?php /*  <a href='<?php echo HTTPS_SERBAPAY; ?>register/vendor'>
                      <i class='icon-user'></i>
                      New to serbaMall?
                      <strong>Sign Up</strong>
                    </a>*/ ?>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<?php echo $footer; ?>